Repository DStarky/middle.messenger.praktikum.yandex: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,ts}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{css,pcss}": [
    "stylelint --fix"
  ]
}

feat: в ProfilePage поменял значения по-умолчанию, чтобы они проходили валидацию
  src/pages/ProfilePage/components/PersonalDataEditable/PersonalDataEditable.ts
  src/pages/ProfilePage/components/ProfilePersonalData/ProfilePersonalData.ts
Due: eslint --fix, prettier --write

feat: обновил файл для получения моковых данных чата
  src/api/ChatAPI.ts
  src/consts/ChatsData.ts
Due: eslint --fix, prettier --write

fix: починил стили картинки аватара
  src/components/common/Avatar/Avatar.pcss
  src/pages/ProfilePage/components/ProfileAvatar/ProfileAvatar.pcss
Due: stylelint --fix

feat: добавил API для работы с данными пользователя
  src/api/ProfileAPI.ts
  src/consts/ProfileData.ts
  src/pages/ProfilePage/ProfilePage.ts
  src/pages/ProfilePage/components/ProfileAvatar/ProfileAvatar.ts
  src/pages/ProfilePage/components/ProfilePersonalData/ProfilePersonalData.ts
  src/types/Profile.ts
Due: eslint --fix, prettier --write

feat: добавил нормальное обновление данных в профиле
  src/components/common/SimpleInput/SimpleInput.ts
  src/pages/ProfilePage/ProfilePage.ts
  src/pages/ProfilePage/components/PersonalDataEditable/PersonalDataEditable.ts
  src/pages/ProfilePage/components/ProfileEditableField/ProfileEditableField.ts
Due: eslint --fix, prettier --write

fix: починил аватары в sidebar
  src/components/common/Sidebar/Sidebar.ts
Due: eslint --fix, prettier --write

feat: добавил вывод значений всех форм в консоль
  src/pages/LoginPage/LoginPage.ts
  src/pages/ProfilePage/ProfilePage.ts
  src/pages/RegistrationPage/RegistrationPage.ts
Due: eslint --fix, prettier --write

feat: с главной страницы перебрасывает на логин
  src/app/App.ts
Due: eslint --fix, prettier --write

feat: обновил tsconfig
  tsconfig.json
Due: none

feat: обновил Readme.md
  README.md
  package.json
Due: none

fix: добавил пустые строки в конец файлов
  package.json
  src/pages/ProfilePage/components/ActionsList/ActionsList.pcss
  src/pages/ProfilePage/components/PasswordDataEditable/PasswordDataEditable.pcss
  src/pages/ProfilePage/components/PersonalDataEditable/PersonalDataEditable.pcss
  src/pages/ProfilePage/components/ProfileAction/ProfileAction.pcss
  src/pages/ProfilePage/components/ProfileEditableField/ProfileEditableField.pcss
  src/pages/ProfilePage/components/ProfilePasswordData/ProfilePasswordData.pcss
  src/pages/ProfilePage/components/ProfilePersonalData/ProfilePersonalData.pcss
  src/pages/ProfilePage/components/ProfileStaticField/ProfileStaticField.pcss
  tsconfig.json
Due: stylelint --fix

feat: обновил HTTPTransport
  src/app/HTTPTransport.ts
Due: eslint --fix, prettier --write

feat: добавил методы back() и forward() в роутер
  src/app/Router.ts
Due: eslint --fix, prettier --write

feat: добавил baseAPI
  src/api/BaseAPI.ts
Due: eslint --fix, prettier --write

feat: добавил функцию isEqual
  src/utils/isEqual.ts
Due: eslint --fix, prettier --write

feat: добавил класс Store
  src/app/Store.ts
Due: eslint --fix, prettier --write

feat: добавил первую версию компонента HOC
  src/app/HOC.ts
Due: eslint --fix, prettier --write

feat: добавил обработку данных с сервера для профиля, но пока не работает
  src/api/AuthAPI.ts
  src/app/Store.ts
  src/controllers/AuthController.ts
  src/pages/LoginPage/LoginPage.ts
Due: eslint --fix, prettier --write

feat: починил store & connect
  src/api/AuthAPI.ts
  src/app/Block.ts
  src/app/HOC.ts
  src/app/Store.ts
  src/pages/LoginPage/LoginPage.ts
Due: eslint --fix, prettier --write

feat: добавил компонент Loader
  src/components/common/Loader/Loader.pcss
  src/components/common/Loader/Loader.ts
  src/pages/LoginPage/LoginPage.ts
  src/style.pcss
Due: eslint --fix, prettier --write, stylelint --fix

feat: добавил loader и вывод ошибок на странице авторизации
  src/api/AuthAPI.ts
  src/controllers/AuthController.ts
  src/pages/LoginPage/LoginPage.ts
  src/styles/base.pcss
Due: eslint --fix, prettier --write, stylelint --fix

feat: добавил первую версию авторизации, пока работает супер криво
  src/app/App.ts
  src/app/Router.ts
  src/controllers/AuthController.ts
  src/pages/ProfilePage/ProfilePage.ts
  src/pages/ProfilePage/components/ActionsList/ActionsList.ts
  src/pages/RegistrationPage/RegistrationPage.ts
Due: eslint --fix, prettier --write

feat: доделал авторизацию и регистрацию
  src/api/AuthAPI.ts
  src/app/App.ts
  src/controllers/AuthController.ts
  src/types/AuthResponses.ts
Due: eslint --fix, prettier --write

feat: добавил вывод 'Неверный логин или пароль'
  src/controllers/AuthController.ts
Due: eslint --fix, prettier --write

feat: сделал ошибки и загрузку в компонентах логина и регистрации локальными
  src/app/EventBus.ts
  src/controllers/AuthController.ts
  src/pages/LoginPage/LoginPage.ts
  src/pages/RegistrationPage/RegistrationPage.ts
Due: eslint --fix, prettier --write

feat: добавил Api + Controller для обновления профиля
  src/api/ProfileAPI.ts
  src/controllers/ProfileController.ts
  src/pages/ProfilePage/ProfilePage.ts
  src/types/Profile.ts
Due: eslint --fix, prettier --write

feat: добавил cursor: pointer для для кнопки выхода из аккаунта
  src/pages/ProfilePage/ProfilePage.pcss
Due: stylelint --fix

feat: добавил смену и отображение аватарки
  src/components/common/Avatar/Avatar.ts
  src/consts/URLs.ts
  src/pages/ProfilePage/ProfilePage.ts
Due: eslint --fix, prettier --write

fix: перенес ErrorResponse в универсальные типы
  src/api/AuthAPI.ts
  src/api/ProfileAPI.ts
  src/types/AuthResponses.ts
  src/types/common.ts
Due: eslint --fix, prettier --write

feat: добавил API и Controller для работы с чатами
  src/api/ChatAPI.ts
  src/controllers/ChatController.ts
  src/types/Chat.ts
Due: eslint --fix, prettier --write

feat: подключил чаты и web-сокеты
  src/api/ChatAPI.ts
  src/components/common/ChatItem/ChatItem.ts
  src/components/common/Sidebar/Sidebar.ts
  src/controllers/ChatController.ts
  src/pages/ChatsPage/ChatsPage.ts
  src/pages/ChatsPage/partials/InnerChat.ts
Due: eslint --fix, prettier --write

feat: починил отображение времени последнего сообщения
  src/components/common/ChatItem/ChatItem.ts
  src/components/common/Sidebar/Sidebar.ts
Due: eslint --fix, prettier --write

fix: починил роутинг в приложении
  src/app/App.ts
Due: eslint --fix, prettier --write

feat: настраиваю нормальное отображение изображений
  src/pages/ChatsPage/ChatsPage.ts
  src/pages/ChatsPage/partials/InnerChat.ts
Due: eslint --fix, prettier --write

fix: починил скролл к последнему сообщению и удалил ненужные комментарии
  src/pages/ChatsPage/ChatsPage.ts
  src/pages/ChatsPage/partials/InnerChat.ts
Due: eslint --fix, prettier --write

feat: добавил состояние загрузки сообщений
  src/pages/ChatsPage/ChatsPage.ts
Due: eslint --fix, prettier --write

fix: починил отображение "Вы: " в сайдбаре
  src/components/common/Sidebar/Sidebar.ts
Due: eslint --fix, prettier --write

feat: добавил кнопку добавления нового чата в sidebar
  src/components/common/Sidebar/Sidebar.pcss
  src/components/common/Sidebar/Sidebar.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: добавил метод destroy в Block
  src/app/Block.ts
Due: eslint --fix, prettier --write

feat: добавил компонент Modal
  src/components/common/Modal/Modal.pcss
  src/components/common/Modal/Modal.ts
  src/style.pcss
Due: eslint --fix, prettier --write, stylelint --fix
