Repository DStarky/middle.messenger.praktikum.yandex: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat: сделал модалку для создания чата
  src/components/common/Modal/CreateChatModal/CreateChatModal.pcss
  src/components/common/Modal/CreateChatModal/CreateChatModal.ts
  src/components/common/Modal/Modal.pcss
  src/components/common/Modal/Modal.ts
  src/components/common/SimpleInput/SimpleInput.pcss
  src/style.pcss
Due: eslint --fix, prettier --write, stylelint --fix

feat: починил модалку и обработку классов
  src/components/common/Modal/CreateChatModal/CreateChatModal.ts
  src/components/common/Modal/Modal.pcss
  src/components/common/Modal/Modal.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: добавил модальное окно для создания нового чата
  src/components/common/Modal/CreateChatModal/CreateChatModal.ts
  src/components/common/Sidebar/Sidebar.ts
  src/pages/404/Page404.ts
Due: eslint --fix, prettier --write

fix: починил закрытие невозможность повторного открытия модалки после закрытия
  src/components/common/Modal/Modal.ts
Due: eslint --fix, prettier --write

feat: добавил валидацию в модалку для создания чата
  src/components/common/Modal/CreateChatModal/CreateChatModal.pcss
  src/components/common/Modal/CreateChatModal/CreateChatModal.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: добавил загрузку, закрытие модалку и отключение кнопки при создании чата
  src/components/common/Modal/CreateChatModal/CreateChatModal.pcss
  src/components/common/Modal/CreateChatModal/CreateChatModal.ts
  src/components/common/Modal/Modal.ts
  src/components/common/Sidebar/Sidebar.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: добавил список чатов в Store
  src/app/Store.ts
Due: eslint --fix, prettier --write

feat: подключил sidebar к Store
  src/app/HOC.ts
  src/app/Store.ts
  src/components/common/Sidebar/Sidebar.ts
  src/controllers/ChatController.ts
  src/pages/ChatsPage/ChatsPage.ts
Due: eslint --fix, prettier --write

fix: поправил все ошибки типизации
  src/api/AuthAPI.ts
  src/api/ChatAPI.ts
  src/api/ProfileAPI.ts
  src/app/App.ts
  src/consts/ChatsData.ts
  src/pages/ProfilePage/ProfilePage.ts
  src/types/Chat.ts
Due: eslint --fix, prettier --write

feat: добавил popup для добавления пользователей
  src/assets/icons/delete.svg
  src/assets/icons/plus.svg
  src/pages/ChatsPage/partials/InnerChat.ts
  src/pages/ChatsPage/partials/UsersPopup/UsersPopup.pcss
  src/pages/ChatsPage/partials/UsersPopup/UsersPopup.ts
  src/style.pcss
Due: eslint --fix, prettier --write, stylelint --fix

feat: добавил модалки для создания пользователя и для удаления пользователя
  src/components/common/Modal/AddUserModal/AddUserModal.ts
  src/components/common/Modal/RemoveUserModal/RemoveUserModal.ts
Due: eslint --fix, prettier --write

feat: добавил вывод модалок добавления удаления пользователей
  src/components/common/Modal/AddUserModal/AddUserModal.ts
  src/components/common/Modal/RemoveUserModal/RemoveUserModal.ts
  src/pages/ChatsPage/partials/UsersPopup/UsersPopup.ts
Due: eslint --fix, prettier --write

feat: реализовал систему добавления и удаления пользователей
  src/api/ChatAPI.ts
  src/components/common/Modal/AddUserModal/AddUserModal.ts
  src/components/common/Modal/RemoveUserModal/RemoveUserModal.ts
  src/pages/ChatsPage/partials/InnerChat.ts
Due: eslint --fix, prettier --write

feat: добавил последнее непрочитанное сообщение и количество непрочитанных сообщений
  src/pages/ChatsPage/ChatsPage.ts
Due: eslint --fix, prettier --write

fix: починил отображение последнего непрочитанного сообщения
  src/pages/ChatsPage/ChatsPage.ts
Due: eslint --fix, prettier --write

fix: починил сброс количества непрочитанных сообщений при фокусе на InnerChat
  src/pages/ChatsPage/ChatsPage.ts
  src/pages/ChatsPage/partials/InnerChat.ts
Due: eslint --fix, prettier --write

refactor: переписал все API на использование XMLHttpRequest, так как в проекте нельзя использовать fetch
  src/api/AuthAPI.ts
  src/api/BaseAPI.ts
  src/api/ChatAPI.ts
  src/api/ProfileAPI.ts
  src/app/HTTPTransport.ts
  src/controllers/AuthController.ts
  src/controllers/ProfileController.ts
  src/pages/LoginPage/LoginPage.ts
  src/types/Chat.ts
  src/types/Profile.ts
Due: eslint --fix, prettier --write

feat: вынес websocket url в отдельную константу
  src/consts/URLs.ts
  src/pages/ChatsPage/ChatsPage.ts
Due: eslint --fix, prettier --write

feat: поменял адреса страниц согласно ТЗ
  src/app/routes.ts
Due: eslint --fix, prettier --write

feat: удалил ненужные комментарии
  src/components/common/Modal/RemoveUserModal/RemoveUserModal.ts
  src/controllers/ChatController.ts
  src/controllers/ProfileController.ts
  src/pages/LoginPage/LoginPage.ts
  src/pages/RegistrationPage/RegistrationPage.ts
Due: eslint --fix, prettier --write

feat: добавил в popup список пользователей
  src/assets/icons/users.svg
  src/pages/ChatsPage/partials/UsersPopup/UsersPopup.pcss
  src/pages/ChatsPage/partials/UsersPopup/UsersPopup.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: добавил вывод пользователей чата
  src/components/common/Modal/Modal.pcss
  src/components/common/Modal/UsersListModal/UsersListModal.ts
  src/components/common/Sidebar/Sidebar.ts
  src/pages/404/Page404.ts
  src/pages/ChatsPage/partials/UsersPopup/UsersPopup.ts
  src/pages/LoginPage/LoginPage.ts
  src/pages/ProfilePage/ProfilePage.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: добавил тостеры для создания чата, добавления и удаления пользователей
  src/components/common/Modal/AddUserModal/AddUserModal.ts
  src/components/common/Modal/CreateChatModal/CreateChatModal.ts
  src/components/common/Modal/RemoveUserModal/RemoveUserModal.ts
  src/components/common/Toaster/Toaster.pcss
  src/components/common/Toaster/Toaster.ts
  src/style.pcss
Due: eslint --fix, prettier --write, stylelint --fix

fix: добавил закрытие popup после открытия модалки
  src/pages/ChatsPage/partials/UsersPopup/UsersPopup.ts
Due: eslint --fix, prettier --write

feat: добавил функционал удаления чата
  src/assets/icons/trash.svg
  src/components/common/Button/Button.pcss
  src/components/common/Modal/DeleteChatModal/DeleteChatModal.ts
  src/components/common/Modal/Modal.pcss
  src/controllers/ChatController.ts
  src/pages/ChatsPage/partials/UsersPopup/UsersPopup.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: добавил в ChatAPI и ChatController обновление аватарки чата
  src/api/ChatAPI.ts
  src/controllers/ChatController.ts
Due: eslint --fix, prettier --write

refactor: поменял название папки partials на components в ChatsPage
  src/pages/ChatsPage/ChatsPage.ts
  src/pages/ChatsPage/components/InnerChat.ts
  src/pages/ChatsPage/components/UsersPopup/UsersPopup.pcss
  src/pages/ChatsPage/components/UsersPopup/UsersPopup.ts
  src/style.pcss
Due: eslint --fix, prettier --write, stylelint --fix

feat: добавил компонент ChatAvatar
  src/components/common/Avatar/Avatar.pcss
  src/pages/ChatsPage/components/ChatAvatar/ChatAvatar.pcss
  src/pages/ChatsPage/components/ChatAvatar/ChatAvatar.ts
  src/pages/ChatsPage/components/InnerChat.ts
  src/style.pcss
Due: eslint --fix, prettier --write, stylelint --fix

fea: добавил отображение аватарок чата и в самом чате и в сайдбаре
  src/components/common/Sidebar/Sidebar.ts
  src/pages/ChatsPage/components/ChatAvatar/ChatAvatar.ts
  src/pages/ChatsPage/components/InnerChat.ts
Due: eslint --fix, prettier --write

refactor: убрал пока кнопку для атачмента
  src/pages/ChatsPage/components/InnerChat.ts
Due: eslint --fix, prettier --write

fix: починил "Вы :" в чатах в сайдбаре
  src/pages/ChatsPage/ChatsPage.ts
Due: eslint --fix, prettier --write

fix: исправил несколько ошибок typescript
  src/components/common/Toaster/Toaster.ts
  src/pages/404/Page404.ts
  src/pages/ChatsPage/components/InnerChat.ts
Due: eslint --fix, prettier --write

feat: обновил ссылки в readme.md
  README.md
Due: none

fix: добавил пустые строки в конец файлов
  src/components/common/Modal/Modal.pcss
  src/components/common/Sidebar/Sidebar.pcss
Due: stylelint --fix

feat: починил авторизацию в проекте
  src/app/App.ts
  src/app/HTTPTransport.ts
  src/app/Router.ts
  src/app/routes.ts
  src/controllers/AuthController.ts
  src/pages/RegistrationPage/RegistrationPage.ts
Due: eslint --fix, prettier --write

feat: обновил readme.md
  README.md
Due: none

feat: прокачал функцию queryStringify
  src/app/HTTPTransport.ts
Due: eslint --fix, prettier --write

feat: заменил везде цвета на переменные
  src/components/common/Avatar/Avatar.pcss
  src/components/common/Button/Button.pcss
  src/components/common/ChatItem/ChatItem.pcss
  src/components/common/Loader/Loader.pcss
  src/pages/ChatsPage/components/UsersPopup/UsersPopup.pcss
  src/styles/variables.pcss
Due: stylelint --fix

fix: поменял язык сайт с en на ru
  index.html
Due: none

chore: обновил версии библиотек
  package-lock.json
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write: any of: *.{js,ts}
  stylelint --fix: any of: *.{css,pcss}
