Repository DStarky/middle.messenger.praktikum.yandex: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,ts}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{css,pcss}": [
    "stylelint --fix"
  ]
}

fix: починил input для отправки сообщений
  src/components/common/SimpleInput/SimpleInput.ts
Due: eslint --fix, prettier --write

feat: глобальные изменения страницы профиля (еще не работает как надо)
  src/app/App.ts
  src/pages/ProfilePage/ProfilePage.ts
  src/pages/ProfilePage/components/ActionsList/ActionsList.pcss
  src/pages/ProfilePage/components/ActionsList/ActionsList.ts
  src/pages/ProfilePage/components/PasswordDataEditable/PasswordDataEditable.pcss
  src/pages/ProfilePage/components/PasswordDataEditable/PasswordDataEditable.ts
  src/pages/ProfilePage/components/PersonalDataEditable/PersonalDataEditable.pcss
  src/pages/ProfilePage/components/PersonalDataEditable/PersonalDataEditable.ts
  src/pages/ProfilePage/components/ProfileAction/ProfileAction.pcss
  src/pages/ProfilePage/components/ProfileAction/ProfileAction.ts
  src/pages/ProfilePage/components/ProfileAvatar/ProfileAvatar.pcss
  src/pages/ProfilePage/components/ProfileAvatar/ProfileAvatar.ts
  src/pages/ProfilePage/components/ProfileEditableField/ProfileEditableField.pcss
  src/pages/ProfilePage/components/ProfileEditableField/ProfileEditableField.ts
  src/pages/ProfilePage/components/ProfilePasswordData/ProfilePasswordData.pcss
  src/pages/ProfilePage/components/ProfilePasswordData/ProfilePasswordData.ts
  src/pages/ProfilePage/components/ProfilePersonalData/ProfilePersonalData.pcss
  src/pages/ProfilePage/components/ProfilePersonalData/ProfilePersonalData.ts
  src/pages/ProfilePage/components/ProfileSaveButton/ProfileSaveButton.pcss
  src/pages/ProfilePage/components/ProfileSaveButton/ProfileSaveButton.ts
  src/pages/ProfilePage/components/ProfileStaticField/ProfileStaticField.pcss
  src/pages/ProfilePage/components/ProfileStaticField/ProfileStaticField.ts
  src/pages/ProfilePage/partials/ActionsList.ts
  src/pages/ProfilePage/partials/PasswordDataEditable.ts
  src/pages/ProfilePage/partials/PersonalDataEditable.ts
  src/pages/ProfilePage/partials/ProfileAvatar.ts
  src/pages/ProfilePage/partials/ProfilePasswordData.ts
  src/pages/ProfilePage/partials/ProfilePersonalData.ts
  src/pages/ProfilePage/partials/ProfileSaveButton.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: починил смену состояний в ProfilePage
  src/pages/ProfilePage/ProfilePage.ts
Due: eslint --fix, prettier --write

feat: добавил сбор данных с формы редактирования персональных данных
  src/pages/ProfilePage/ProfilePage.ts
Due: eslint --fix, prettier --write

feat: починил редактирование данных в профиле
  src/pages/ProfilePage/ProfilePage.ts
  src/pages/ProfilePage/components/PersonalDataEditable/PersonalDataEditable.ts
  src/pages/ProfilePage/components/ProfileEditableField/ProfileEditableField.ts
  src/pages/ProfilePage/components/ProfilePersonalData/ProfilePersonalData.ts
Due: eslint --fix, prettier --write

feat: починил редактирование полей пароля в ProfilePage
  src/pages/ProfilePage/ProfilePage.ts
  src/pages/ProfilePage/components/PasswordDataEditable/PasswordDataEditable.ts
Due: eslint --fix, prettier --write

fix: починил обработку клика на Avatar
  src/pages/ProfilePage/components/ProfileAvatar/ProfileAvatar.ts
Due: eslint --fix, prettier --write

refactor: чуть-чуть навел порядок в ProfilePage и Avatar
  src/components/common/Avatar/Avatar.ts
  src/pages/ProfilePage/ProfilePage.ts
Due: eslint --fix, prettier --write

feat: убрал из SimpleInput класс simple-input по умолчанию и добавил метод getValue
  src/components/common/Sidebar/Sidebar.ts
  src/components/common/SimpleInput/SimpleInput.ts
  src/pages/ChatsPage/partials/InnerChat.ts
Due: eslint --fix, prettier --write

feat: вынес SearchInput в отдельный компонент
  src/components/common/SearchInput/SearchInput.pcss
  src/components/common/SearchInput/SearchInput.ts
  src/components/common/Sidebar/Sidebar.ts
  src/components/common/SimpleInput/SimpleInput.pcss
  src/components/common/SimpleInput/SimpleInput.ts
  src/style.pcss
Due: eslint --fix, prettier --write, stylelint --fix

feat: добавил в компонент SimpleInput возможность обновлять value и отдавать их наверх
  src/components/common/SimpleInput/SimpleInput.ts
Due: eslint --fix, prettier --write

refactor: навел порядок в стилях в ProfilePage
  src/pages/ProfilePage/ProfilePage.pcss
  src/pages/ProfilePage/components/ActionsList/ActionsList.ts
  src/pages/ProfilePage/components/ProfileEditableField/ProfileEditableField.pcss
  src/pages/ProfilePage/components/ProfileStaticField/ProfileStaticField.ts
  src/style.pcss
Due: eslint --fix, prettier --write, stylelint --fix

feat: добавил валидацию для ProfileEditableField на onBlur
  src/pages/ProfilePage/components/ProfileEditableField/ProfileEditableField.pcss
  src/pages/ProfilePage/components/ProfileEditableField/ProfileEditableField.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: добавил валидации для ProfileEditableField
  src/pages/ProfilePage/components/PersonalDataEditable/PersonalDataEditable.ts
Due: eslint --fix, prettier --write

feat: добавил валидацию для PasswordDataEditable
  src/pages/ProfilePage/components/PasswordDataEditable/PasswordDataEditable.ts
Due: eslint --fix, prettier --write

feat: доделал форму редактирования профиля
  src/pages/ProfilePage/ProfilePage.ts
  src/pages/ProfilePage/components/PasswordDataEditable/PasswordDataEditable.ts
  src/pages/ProfilePage/components/PersonalDataEditable/PersonalDataEditable.ts
Due: eslint --fix, prettier --write

fix: переделал шаблоны валидации в PersonalDataEditable
  src/pages/ProfilePage/components/PersonalDataEditable/PersonalDataEditable.ts
Due: eslint --fix, prettier --write

feat: переписал компонент FloatingLabelInput для валидации
  src/components/common/FloatingLabelInput/FloatingLabelInput.pcss
  src/components/common/FloatingLabelInput/FloatingLabelInput.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: добавил валидацию на страницу логина
  src/pages/LoginPage/LoginPage.ts
Due: eslint --fix, prettier --write

feat: добавил валидацию на страницу регистрации
  src/pages/RegistrationPage/RegistrationPage.ts
Due: eslint --fix, prettier --write

feat: добавил переход на страницу чатов после авторизации или регистрации
  src/pages/LoginPage/LoginPage.ts
  src/pages/RegistrationPage/RegistrationPage.ts
Due: eslint --fix, prettier --write

feat: добавил появление чатов с задержкой
  src/components/common/Sidebar/Sidebar.ts
  src/pages/ChatsPage/ChatsPage.ts
Due: eslint --fix, prettier --write

feat: добавил асинхронную загрузку чатов и сообщений
  src/api/ChatAPI.ts
  src/components/common/Sidebar/Sidebar.ts
  src/pages/ChatsPage/ChatsPage.ts
Due: eslint --fix, prettier --write

feat: добавил отображение статусов в чате
  src/pages/ChatsPage/partials/InnerChat.ts
Due: eslint --fix, prettier --write

feat: добавил в ChatAPI функционал для отправки сообщений
  src/api/ChatAPI.ts
Due: eslint --fix, prettier --write

feat: добавил в SimpleInput метод для вставки value
  src/components/common/SimpleInput/SimpleInput.ts
Due: eslint --fix, prettier --write

feat: реализовал фейковую отправку сообщений
  src/pages/ChatsPage/ChatsPage.ts
  src/pages/ChatsPage/partials/InnerChat.ts
Due: eslint --fix, prettier --write

feat: обновил в созданных собщениях время отправки
  src/pages/ChatsPage/ChatsPage.ts
Due: eslint --fix, prettier --write

refactor: раскидал стили в ProfilePage
  src/pages/ProfilePage/ProfilePage.pcss
  src/pages/ProfilePage/components/ProfileAvatar/ProfileAvatar.pcss
  src/pages/ProfilePage/components/ProfileEditableField/ProfileEditableField.pcss
  src/pages/ProfilePage/components/ProfileSaveButton/ProfileSaveButton.pcss
  src/pages/ProfilePage/components/ProfileSaveButton/ProfileSaveButton.ts
  src/style.pcss
Due: eslint --fix, prettier --write, stylelint --fix

feat: переделал валидации согласно тз и отрефакторил их реализацию
  eslint.config.js
  src/components/common/FloatingLabelInput/FloatingLabelInput.pcss
  src/helpers/validationRules.ts
  src/pages/LoginPage/LoginPage.ts
  src/pages/ProfilePage/components/PasswordDataEditable/PasswordDataEditable.ts
  src/pages/ProfilePage/components/PersonalDataEditable/PersonalDataEditable.ts
  src/pages/ProfilePage/components/ProfilePersonalData/ProfilePersonalData.ts
  src/pages/RegistrationPage/RegistrationPage.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: убрал из стилей пустой pcss файл
  src/style.pcss
Due: stylelint --fix

refactor: вынес тип ValidationRule
  src/components/common/FloatingLabelInput/FloatingLabelInput.ts
  src/helpers/validationRules.ts
  src/pages/ProfilePage/components/ProfileEditableField/ProfileEditableField.ts
Due: eslint --fix, prettier --write

feat: добавил валидацию на пустую строку при отправке сообщения
  src/pages/ChatsPage/partials/InnerChat.ts
Due: eslint --fix, prettier --write

feat: добавил отправку сообщения с помощью нажатия на Enter
  src/pages/ChatsPage/partials/InnerChat.ts
Due: eslint --fix, prettier --write

feat: добавил метод для установки фокуса на SimpleInput
  src/components/common/SimpleInput/SimpleInput.ts
Due: eslint --fix, prettier --write

feat: добавил отправку сообщений по одному
  src/pages/ChatsPage/ChatsPage.ts
  src/pages/ChatsPage/partials/InnerChat.ts
Due: eslint --fix, prettier --write

feat: убрал задвоение сообщений при отправке
  src/pages/ChatsPage/ChatsPage.ts
Due: eslint --fix, prettier --write

feat: убрал вероятность ошибки при отправке сообщения
  src/api/ChatAPI.ts
Due: eslint --fix, prettier --write

fix: поправил ошибки типов по typescipt
  src/app/App.ts
  src/pages/ChatsPage/ChatsPage.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: добавил новые команды в package.json
  package.json
Due: none
