Repository DStarky/middle.messenger.praktikum.yandex: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,ts}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{css,pcss}": [
    "stylelint --fix"
  ]
}

feat: подготовил проект для написания тестов
  .mocharc.json
  eslint.config.js
  package-lock.json
  package.json
  src/api/setup.test.ts
  src/api/testsSetup.ts
  tsconfig.json
Due: eslint --fix, prettier --write

types: добавил типы для jsdom
  package-lock.json
  package.json
Due: none

feat: настроил тесты для работы с pcss и svg
  .mocharc.json
  loader-css.js
  loader-svg.js
  package.json
  src/types/svg.d.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: починил циклические зависимости
  src/app/App.ts
  src/app/HTTPTransport.ts
  src/controllers/AuthController.ts
Due: eslint --fix, prettier --write

feat: написал первый тест для роутера
  src/api/testsSetup.ts
  src/app/router.test.ts
Due: eslint --fix, prettier --write

feat: обновил конфиг в тестах
  package.json
  tsconfig.json
Due: none

feat: обновил настройки для тестирования
  src/api/setup.test.ts
  src/api/testsSetup.ts
Due: eslint --fix, prettier --write

feat: добавил базовые тесты для роутера
  src/app/Router.ts
  src/app/router.test.ts
Due: eslint --fix, prettier --write

feat: добавил тест переход назад по истории для роутера
  src/app/Router.ts
  src/app/router.test.ts
Due: eslint --fix, prettier --write

feat: немного переработал router
  src/app/Router.ts
  src/pages/ProfilePage/ProfilePage.ts
Due: eslint --fix, prettier --write

feat: добавил тесты для движения вперед и назад по истории браузера
  src/app/router.test.ts
Due: eslint --fix, prettier --write

feat: добавил тест на проверку длины истории в браузере
  src/app/router.test.ts
Due: eslint --fix, prettier --write

feat: написал базовый тест для HTTPTransport
  src/api/testsSetup.ts
  src/app/HTTPTransport.test.ts
  src/app/HTTPTransport.ts
Due: eslint --fix, prettier --write

feat: добавил проверку post запроса для HTTPTransport
  src/app/HTTPTransport.test.ts
Due: eslint --fix, prettier --write

feat: добавил тест для unaothorized
  src/app/HTTPTransport.test.ts
Due: eslint --fix, prettier --write

feat: добавил тест отправки FormData
  src/app/HTTPTransport.test.ts
Due: eslint --fix, prettier --write

feat: добавил проверку тест на авторизации на сервере
  src/app/HTTPTransport.test.ts
Due: eslint --fix, prettier --write

feat: добавил тест на ошибки логина
  src/app/HTTPTransport.test.ts
Due: eslint --fix, prettier --write

feat: добавил базовые тесты для Block
  src/api/testsSetup.ts
  src/app/Block.test.ts
Due: eslint --fix, prettier --write

feat: добавил тест для обновления пропсов в Block
  src/app/Block.test.ts
Due: eslint --fix, prettier --write

feat: добавил дополнительных тестов для Block
  src/app/Block.test.ts
Due: eslint --fix, prettier --write

feat: добавил тесты для EventBus
  src/app/EventBus.test.ts
Due: eslint --fix, prettier --write

chore: обновил readme.md
  README.md
Due: none

chore: обновил lint-staged, добавил тесты в прекоммит
  .husky/pre-commit
Due: none

deploy: version 0.1
  .gitignore
  dist/assets/main-BK9bbtZX.css
  dist/assets/main-BQfWo2o-.js
  dist/avatar.jpg
  dist/defaultSrc.png
  dist/index.html
  dist/vite.svg
Due: eslint --fix, prettier --write, stylelint --fix

deploy: добавил файл netlify.toml
  netlify.toml
Due: none

deploy: добавил файл _redirects
  dist/_redirects
  public/_redirects
Due: none

fix: добавил висячую строку в tsconfig и package.json
  package.json
  tsconfig.json
Due: none

fix: убрал лишнюю запятую из tsconfig.json
  tsconfig.json
Due: none

fix: переписал pre-commit
  .husky/pre-commit
  package.json
Due: none

chore: обновил Readme.md
  README.md
Due: none

fix: добавил пустую строку в package.json
  package.json
Due: none

fix: опять обновил pre-commit
  .husky/pre-commit
Due: none

fix: изменил скрипт для husky
  package.json
Due: none

fix: изменил еще прекоммит
  .husky/pre-commit
  package.json
Due: none

fix: попытки пройти тест на прекоммит
  package.json
Due: none
